{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="login-page">
        <div class="form">
            <p class="message" style="font-size: 24px; font-weight: bold">Вход</p>
            <p class="message" style="font-size: 18px">Пожалуйста, <a href="/accounts/google/login/">войдите с одним из ваших внешних аккаунтов</a>.
                Или <a href="{{ signup_url }}">зарегистрируйтесь</a> и авторизуйтесь на сайте<br>
                {{ site.name }}:</p>
{#            <br>#}
{#            <p>или</p>#}
{#            <form class="login" method="POST" action="{% url 'account_login' %}" style="display: inline-block">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                {% if redirect_field_value %}#}
{#                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#                {% endif %}#}
{#                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{#            <br><br>#}
{#                <a style="color: #4CAF50" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#            </form>#}
        </div>
    </div>

{% endblock %}