{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="form">
            <p class="message" style="font-size: 24px; font-weight: bold">Вход через Google</p>
            <p class="message" style="font-size: 18px">Вы будете перенаправлены на страницу входа после нажатия на кнопку «Продолжить».</p>
            <br>
            <br>
            <form method="post" class="login-form">
                {% csrf_token %}
                <button type="submit">{% trans "Продолжить" %}</button>
            </form>
        </div>
    </div>
{% endblock %}